<p><%= @product.description %></p>
<p><%= number_to_currency @product.price %></p>
<%= image_tag @product.image %>
<%= link_to "hide details", hide_details_path(@product), remote: true, id: "hide-link-#{@product.id}" %>
